<div class="container flex flex-wrap items-center mx-auto mb-10">
  <h2 class="bigtitle">{{ 'app.profiles.edit' | t }}</h2>
</div>

<div class="sm:flex">

  <div class="flex flex-col w-64 mb-6 text-center">
    <div>
      {% liquid
        assign img_url = object.avatar.photo.versions.small
        unless img_url
          assign img_url = 'images/user.svg' | asset_url
        endunless
      %}
      <img src="{{ img_url }}" alt="" class="object-cover object-center w-48 h-48 mx-auto text-gray-400 rounded-full shadow-md md:mx-0">
    </div>
    <div class="mt-10">
      {% render 'theme/simple/photos/uppy_area' %}
    </div>
  </div>

  <div class="ml-2 md:border-l sm:flex-grow sm:pl-8 sm:order-2 border-1">
    <form action="/dashboard/profile" method="post">
      {% render 'authenticity_token', context: context %}
      <input type="hidden" name="_method" value="put" />

      <div class="lg::w-1/2">
        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="name">{{ 'app.profiles.username' | t }}</label>
          <input id="name" name="profile[name]" value="{{ object.name }}" type="text" maxlength="45" class="w-full form-input" autocomplete="given-name">
          {% render 'theme/simple/field_error', errors: object.errors.name %}
        </div>

        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="first-name">{{ 'app.profiles.first_name' | t }}</label>
          <input id="first-name" name="profile[first_name]" value="{{ object.first_name }}" type="text" maxlength="45" class="w-full form-input" autocomplete="given-name">
          {% render 'theme/simple/field_error', errors: object.errors.first_name %}
        </div>

        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="last-name">{{ 'app.profiles.last_name' | t }}</label>
          <input id="last-name" name="profile[last_name]" value="{{ object.last_name }}" type="text" maxlength="45" class="w-full form-input"  autocomplete="family-name">
          {% render 'theme/simple/field_error', errors: object.errors.last_name %}
        </div>
        
        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="date_of_birth">{{ 'app.profiles.date_of_birth' | t }}</label>
          <input id="date_of_birth" name="profile[date_of_birth]" value="{{ object.date_of_birth }}" type="date" class="w-full form-input">
          {% render 'theme/simple/field_error', errors: object.errors.date_of_birth %}
        </div> 

        <div class="mb-6">
          <label class="block mb-2 cursor-pointer" for="food">{{ 'app.profiles.favorite_food' | t }}</label>
            <select x-cloak id="food" class="w-full form-input" multiple>
              <option value="fruits">Fruits</option>
              <option value="vegetables">Vegetables</option>
              <option value="soup">Soup</option>
              <option value="salad">Salad</option>
              <option value="steak">Steak</option>
              <option value="pasta">Pasta</option>
              <option value="pizza">Pizza</option>
              <option value="chinese-food">Chinese food</option>
              <option value="fast-food">Fast food</option>
              <option value="dessert">Dessert</option>
             </select>  
       {% render 'theme/simple/field_error', errors: object.errors.favorite_food %}
      

<div x-data="dropdown()" x-init="loadOptions()">
  <input type="hidden" x-bind:value="selectedValues()" id="favorite_food" name="profile[favorite_food]" >
  <input type="hidden" value="{{ object.favorite_food }}" id="foodSaved">
  <div>
    <div class="relative">
      <div x-on:click="open">
        <div class="flex" style="height: 44px; background-color: #fff; border-color: #6b7280; border-width: 1px; padding: .5rem .75rem;">
          <div class="flex w-full flex-wrap">
            <template x-for="(option,index) in selected" :key="options[option].value">
              <div class="flex justify-center items-center" style="margin-right: 10px;">
                <div class="leading-none flex-initial" x-model="options[option]" x-text="options[option].text" style="font-size: 0.9rem;"></div>
                <div>
                  <div x-on:click.stop="remove(index,option)">
                    <svg class="fill-current h-4 w-4" role="button" viewBox="0 0 20 20">
                      <path d="M14.348,14.849c-0.469,0.469-1.229,0.469-1.697,0L10,11.819l-2.651,3.029c-0.469,0.469-1.229,0.469-1.697,0
                                           c-0.469-0.469-0.469-1.229,0-1.697l2.758-3.15L5.651,6.849c-0.469-0.469-0.469-1.228,0-1.697s1.228-0.469,1.697,0L10,8.183
                                           l2.651-3.031c0.469-0.469,1.228-0.469,1.697,0s0.469,1.229,0,1.697l-2.758,3.152l2.758,3.15
                                           C14.817,13.62,14.817,14.38,14.348,14.849z" />
                    </svg>
                  </div>
                </div>
              </div>
            </template>
            <div x-show="selected.length == 0">
              <input placeholder="Select your favorite food" class="h-full outline-none" x-bind:value="selectedValues()" readonly>
            </div>
          </div>
          <div >
            <button type="button" x-show="isOpen() === true" x-on:click="open" class="cursor-pointer w-6 h-6 outline-none focus:outline-none">
              <svg version="1.1" class="fill-current h-4 w-4" viewBox="0 0 20 20">
                <path d="M17.418,6.109c0.272-0.268,0.709-0.268,0.979,0s0.271,0.701,0,0.969l-7.908,7.83
	c-0.27,0.268-0.707,0.268-0.979,0l-7.908-7.83c-0.27-0.268-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.979,0L10,13.25
	L17.418,6.109z" />
              </svg>              
            </button>
            <button type="button" x-show="isOpen() === false" @click="close" class="cursor-pointer w-6 h-6 outline-none focus:outline-none">
              <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                <path d="M2.582,13.891c-0.272,0.268-0.709,0.268-0.979,0s-0.271-0.701,0-0.969l7.908-7.83
	c0.27-0.268,0.707-0.268,0.979,0l7.908,7.83c0.27,0.268,0.27,0.701,0,0.969c-0.271,0.268-0.709,0.268-0.978,0L10,6.75L2.582,13.891z
	" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full px-4">
        <div x-show.transition.origin.top="isOpen()" class="absolute shadow top-100 w-full left-0" x-on:click.away="close" style="background-color: white;">
          <div class="flex flex-col overflow-auto h-64">
            <template x-for="(option,index) in options" :key="option" class="overflow-auto">
              <div class="cursor-pointer w-full border-gray-100 rounded-t border-b hover:bg-gray-100 styled" @click="select(index,$event)">
                <div class="flex w-full items-center p-2 pl-2 border-transparent border-l-2 relative">
                  <div class="w-full items-center flex justify-between">
                    <div class="mx-2 leading-6" x-model="option" x-text="option.text"></div>
                    <div x-show="option.selected">
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 



  </div>  
      </div>

      <div class="mb-6">
        <label class="block mb-2 cursor-pointer" for="bio">{{ 'app.profiles.bio' | t }}</label>
        <textarea id="bio" name="profile[bio]" aria-invalid="false" rows="5" class="w-full form-input" autocomplete="bio">{{ object.bio }}</textarea>
        {% render 'theme/simple/field_error', errors: object.errors.bio %}
      </div>

      <div class="flex mt-4">
        <button type="submit" class="text-sm button">{{ 'app.save' | t }}</button>
      </div>
    </form>
  </div>
</div>

{% render 'theme/simple/photos/uppy_form',
  object_uuid: object.uuid,
  presigned_url: presigned_url,
  user_id: user.id,
  photo_type: 'avatar',
  note: 'Image up to 2MB',
  max_number_of_files: 1
%}

<script src="{{ 'js/dropdown.js' | asset_url }}"></script> 